@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

.header__logo {
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;

}

body {
    background-color: #F3F5FC;
    font-family: 'Nunito', sans-serif;
    }

.presentacion {
    display: flex;
    width: 90%;
    height: 80vh;
    margin: 0px auto 50px auto;
    margin: 0px auto 50px auto;
    flex-direction: row; /* Corrección: para alinear en fila por defecto */
}


.presentacion__contenido1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 70%; /* Ajuste del ancho al 70% */
}

.text__area {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin-top: 90px;
    border: none;
    color: #0A3871;
    text-transform: lowercase;    
    background-color: #F3F5FC;
    width: 100%; /* Asegurar que ocupe el 100% del contenedor */
    height: auto; /* Ajustar la altura automáticamente */
    min-height: 150px; /* Altura mínima para asegurar visibilidad */
}

.text__area::placeholder {
    color: #0A3871;
    font-family: 'Inter';

}

.text__area:focus {
    outline: none;
}

.fa-solid, .fas {
    font-weight: 900;
}

.alerta{
    font-size: 13px;
    color: rgb(49, 68, 84);
}

.botones {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap; /* Permitir que los botones se ajusten en varias líneas si es necesario */
}

.boton__encriptar {
    background: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 48%; /* Asegurar que ocupe el 100% del contenedor */
    margin-bottom: 10px; /* Añadido para un margen inferior */

}

.boton__desencriptar {
    background: #d8dfe8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 4%;
    width: 48%; /* Asegurar que ocupe el 100% del contenedor */
    margin-bottom: 10px; /* Añadido para un margen inferior */

}

.mensaje {
    background: white;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 20px;
    padding: 20px;
    width: 100%; /* Asegurar que ocupe el 100% del contenedor */
    min-height: 150px; /* Altura mínima para asegurar visibilidad */

}

.mensaje:focus {
    outline: none;
}

.boton__copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 60px;
    width: 100%; /* Asegurar que ocupe el 100% del contenedor */
    margin-top: 20px; /* Espacio superior para separar del textarea */
}

.presentacion__contenido2{
    background-color: #fff;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(195, 205, 216);
    width: 30%; /* Ajuste del ancho al 30% */
    height: auto; /* Ajuste automático de la altura */
}

.presentacion__contenido2 img {
    max-width: 100%;
    height: auto; /* Asegurar que la imagen se ajuste al contenedor */
}

.presentacion__contenido2::placeholder {
    color: #495057;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
}

.resultado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Para separar del contenido anterior */
}

.oculto {
    display: none;
}




@media (max-width: 1024px) {
    /* Estilos para pantallas de tablet */
    .presentacion {
        flex-direction: column; /* Cambiar a columna */
        height: auto;
    }
    .presentacion__contenido1, .presentacion__contenido2 {
        width: 100%; /* Ajustar al 100% del ancho */
        margin-bottom: 20px;
    }
    .presentacion__contenido2 img {
        display: none; /* Ocultar imagen en pantallas pequeñas */
    }
    .boton__encriptar, .boton__desencriptar, .boton__copiar {
        width: 100%; /* Ajustar botones al 100% del ancho */
        margin-left: 0; /* Eliminar margen izquierdo */
    }
    .text__area, .mensaje {
        width: 100%; /* Asegurar que ocupen el 100% del contenedor */
    }
}

@media (max-width: 768px) {
    /* Estilos para pantallas de tablet más pequeñas */
    .presentacion {
        flex-direction: column; /* Cambiar a columna */
        height: auto;
    }
    .presentacion__contenido1, .presentacion__contenido2 {
        width: 100%; /* Ajustar al 100% del ancho */
        margin-bottom: 20px;
    }
    .presentacion__contenido2 img {
        display: none; /* Ocultar imagen en pantallas pequeñas */
    }
    .boton__encriptar, .boton__desencriptar, .boton__copiar {
        width: 100%; /* Ajustar botones al 100% del ancho */
        margin-left: 0; /* Eliminar margen izquierdo */
    }
    .text__area, .mensaje {
        width: 100%; /* Asegurar que ocupen el 100% del contenedor */
    }
}

@media (max-width: 480px) {
    /* Estilos para pantallas de celular */
    .presentacion {
        flex-direction: column; /* Cambiar a columna */
        height: auto;
    }
    .presentacion__contenido1, .presentacion__contenido2 {
        width: 100%; /* Ajustar al 100% del ancho */
        margin-bottom: 20px;
    }
    .presentacion__contenido2 img {
        display: none; /* Ocultar imagen en pantallas pequeñas */
    }
    .boton__encriptar, .boton__desencriptar, .boton__copiar {
        width: 100%; /* Ajustar botones al 100% del ancho */
        margin-left: 0; /* Eliminar margen izquierdo */
    }
    .text__area, .mensaje {
        width: 100%; /* Asegurar que ocupen el 100% del contenedor */
    }
}
